// Color Variables
$blue: #33658a;
$dark_blue: rgb(3, 18, 36);
$red: #981f37;
$red_shade: #360d15;
$yellow: #e28413;
$yellow_shade: #442704;
$white: #e0efde;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body, button, input {
  font-family: "Bebas Neue", sans-serif;
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}
body {
  height: 100vh;
  background-color: $blue;
  overflow: hidden;
  position: relative;
}
.main {
  padding: 20px 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $blue;
}

.disabled {
  pointer-events: none;
}
.visible {
  opacity: 1 !important;
}

.invisible {
  opacity: 0 !important;
}

.hidden {
  display: none !important;
}

.show-flex {
  display: flex !important;
}
.show-block {
  display: block !important;
}