.board {
  width: 300px;
  padding: 17px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  position: relative;
  @include responsive(360px) {
    width: 345px;
    padding: 17px 10px;
  }
  @include responsive(414px) {
    width: 406px;
    padding: 20px 10px;
  }
  @include responsive(500px) {
    width: 517px;
    padding: 24px 10px;
    gap: 7px;
  }
  @include responsive(600px) {
    width: 585px;
    padding: 27px 10px;
    gap: 12px;
  }
  @include responsive(700px) {
    width: 685px;
    padding: 31px 10px;
    gap: 6px;
  }
  @include responsive($tablet) {
    width: 776px;
    padding: 35px 10px;
  }


  .column {
    width: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10.7px;
    position: relative;
    @include responsive(360px) {
      gap: 11px;
    }
    @include responsive(500px) {
      gap: 10px;
    }
    @include responsive(600px) {
      gap: 16px;
    }
    @include responsive(700px) {
      gap: 9px;
    }
    @include responsive($tablet) {
      gap: 10px;
    }

    @import "slot";

    .falling-token {
      width: 95%;
      aspect-ratio: 1/1;
      border-radius: 50%;
      background-color: $red;
      border: 1px solid black;
      position: absolute;
      transition-property: top;
      transition-duration: 300ms;
      transition-timing-function: ease-in;
      top: -15%;
    }
    @keyframes fall {

    }

  }
  .board-img {
    width: 300px;
    position: absolute;
    top: 0;
    @include responsive(360px) {
      width: 345px;
    }
    @include responsive(414px) {
      width: 400px;
    }
    @include responsive(500px) {
      width: 485px;
    }
    @include responsive(600px) {
      width: 580px;
    }
    @include responsive(700px) {
      width: 620px;
    }
    @include responsive($tablet) {
      width: 700px;
    }
  }
  .clickable-columns {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    justify-content: center;
    display: flex;
    gap: 7px;
    @include responsive(500px) {
      gap: 5px;
    }
    @include responsive(600px) {
      gap: 10px;
    }
    @include responsive(700px) {
      gap: 3px;
    }

    &__col {
      width: 12%;
      height: 100%;
    }
  }
}