.emoticons {

  .emoticon-btn {
    height: 40px;
    width: 40px;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    bottom: 160px;
    border-radius: 5px 0 0 5px;
    border-right: none;

    @include responsive($tablet) {
      position: static;
      border-radius: 4px;
      border-right: 1px solid black;
    }
  }
  &__faces {
    width: 100%;
    padding: 10px 0;
    position: absolute;
    bottom: -100%;
    left: 0;
    background-color: $dark_blue;
    transition: bottom 300ms ease-in;
    z-index: 10;
    @include responsive($laptop) {
      height: 135px;
    }

    .emoticons-close-btn {
      height: 30px;
      width: 30px;
      background-color: $white;
      border-radius: 50%;
      border: 1px solid black;
      position: absolute;
      top: -20px;
      left: calc(100% - 50px);

      &::before {
        content: "";
        height: 1px;
        width: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        background-color: black; 
        transform: rotate(45deg);
      }
      &::after {
        content: "";
        height: 1px;
        width: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        background-color: black; 
        transform: rotate(-45deg);
      }
    }
    &-wrap {
      height: 135px;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around;
      overflow-x: scroll;
      background-color: $dark_blue;

      @include responsive($tablet) {
        height: 150px;
      }
      @include responsive($laptop) {
        height: 100%;
        padding: 0 10px;
        align-items: center;
        justify-content: center;
      }
    }

    .face {
      width: 15%;

      @include responsive($tablet) {
        width: 8vw;
      }
      @include responsive($laptop) {
        width: 50px;
      }
    }
  }
  .faces-shown {
    bottom: 0px;

    @include responsive($laptop) {

    }
  }
}