.player-tabs {
  width: 90vw;
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  @include responsive($laptop) {
    position: absolute;
    top: 100px;
    width: calc(50vw + 369px);
    max-width: 1070px;
  }

  .player-tab {
    height: 60px;
    width: 130px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $white;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    @include responsive($tablet) {
      height: 70px;
      padding: 10px;
    }
    

    &__name {
      font-size: 1.5rem;
    }
    &__emoticon {
      height: 100%;
      width: 50px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 5px;
      @include responsive($laptop) {
        right: 10px;
      }

      &-img {
        height: 0%;
      }
      .displayed-emoticon {
        animation-name: popUp;
        animation-duration: 2000ms;
        animation-fill-mode: forwards; 
      }
      @keyframes popUp {
        0% {height: 0%}
        10% {height: 100%}
        90% {height: 100%}
        100% {height: 0%}
      }
    }
    .emoticon-2 {
      left: 5px;
      @include responsive($laptop) {
        left: 10px;
      }
    }
  }
  .animated-tab {
    animation-name: animateTab;
    animation-duration: 2000ms;
    animation-fill-mode: forwards; 
  }
  @keyframes animateTab {
    0% {width: 130px}
    10% {width: 160px}
    90% {width: 160px}
    100% {width: 130px}
  }

  .player-tab-1::before {
    content: "";
    height: 15px;
    width: 30px;
    border: 1px solid black;
    border-radius: 30px 30px 0 0;
    border-bottom: none;
    position: absolute;
    top: -17px;
    left: 20px;
    background-color: $red;
  }
  .player-tab-2 {
    .player-tab__name {
      text-align: right;
    }
    .player-tab__wins {
      text-align: right;
    }
    &::before {
      content: "";
      height: 15px;
      width: 30px;
      border: 1px solid black;
      border-radius: 30px 30px 0 0;
      border-bottom: none;
      position: absolute;
      top: -17px;
      right: 20px;
      background-color: $yellow;
    }
  }
}