@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
body, button, input {
  font-family: "Bebas Neue", sans-serif;
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #33658a;
  position: relative;
  overflow: hidden;
}
@media only screen and (min-width: 1280px) {
  body {
    overflow: auto;
  }
}

.main {
  padding: 30px 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #33658a;
}
@media only screen and (min-width: 768px) {
  .main {
    padding: 30px 50px 0;
  }
}
@media only screen and (min-width: 1280px) {
  .main {
    padding-top: 50px;
  }
}

.disabled {
  pointer-events: none;
}

.visible {
  opacity: 1 !important;
}

.invisible {
  opacity: 0 !important;
}

.hidden {
  display: none !important;
}

.show-flex {
  display: flex !important;
}

.show-block {
  display: block !important;
}

.board {
  width: 90vw;
  max-width: 700px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #e0efde;
}
@media only screen and (min-width: 1280px) {
  .board {
    width: 50vw;
  }
}
.board .column {
  width: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}
.board .column .slot {
  width: 95%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: relative;
  outline: 2px solid black;
}
.board .column .slot::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  translate: -50% 0;
  height: 100%;
  width: 104%;
  border-radius: 50%;
  border-top: 0.5rem solid rgb(3, 18, 36);
}
.board .column .empty {
  background-color: #33658a;
}
.board .column .pl-1 {
  background-color: #981f37;
}
.board .column .pl-1::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  translate: -50% 0;
  height: 100%;
  width: 104%;
  border-radius: 50%;
  border-top: 0.4rem solid #360d15;
}
.board .column .pl-2 {
  background-color: #e28413;
}
.board .column .pl-2::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  translate: -50% 0;
  height: 100%;
  width: 104%;
  border-radius: 50%;
  border-top: 0.4rem solid #442704;
}
.board .column .glow {
  height: 50%;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  border: 0.2rem solid white;
}
.board .column .glow::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 5px white;
  opacity: 0;
  animation: 1000ms infinite alternate glowingSlot;
}
.board .column .glow::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: inset 0px 0px 10px 1px white;
  opacity: 0;
  animation: 1000ms infinite alternate glowingSlot;
}
@keyframes glowingSlot {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.player-tabs {
  width: 90vw;
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
@media only screen and (min-width: 1280px) {
  .player-tabs {
    position: absolute;
    top: 100px;
    width: calc(50vw + 369px);
    max-width: 1070px;
  }
}
.player-tabs .player-tab {
  height: 60px;
  width: 130px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e0efde;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .player-tabs .player-tab {
    height: 70px;
    padding: 10px;
  }
}
.player-tabs .player-tab__name {
  font-size: 1.5rem;
}
.player-tabs .player-tab__emoticon {
  height: 100%;
  width: 50px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 5px;
}
@media only screen and (min-width: 1280px) {
  .player-tabs .player-tab__emoticon {
    right: 10px;
  }
}
.player-tabs .player-tab__emoticon-img {
  height: 0%;
}
.player-tabs .player-tab__emoticon .displayed-emoticon {
  animation-name: popUp;
  animation-duration: 2000ms;
  animation-fill-mode: forwards;
}
@keyframes popUp {
  0% {
    height: 0%;
  }
  10% {
    height: 100%;
  }
  90% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
.player-tabs .player-tab .emoticon-2 {
  left: 5px;
}
@media only screen and (min-width: 1280px) {
  .player-tabs .player-tab .emoticon-2 {
    left: 10px;
  }
}
.player-tabs .animated-tab {
  animation-name: animateTab;
  animation-duration: 2000ms;
  animation-fill-mode: forwards;
}
@keyframes animateTab {
  0% {
    width: 130px;
  }
  10% {
    width: 160px;
  }
  90% {
    width: 160px;
  }
  100% {
    width: 130px;
  }
}
.player-tabs .player-tab-1::before {
  content: "";
  height: 15px;
  width: 30px;
  border: 1px solid black;
  border-radius: 30px 30px 0 0;
  border-bottom: none;
  position: absolute;
  top: -17px;
  left: 20px;
  background-color: #981f37;
}
.player-tabs .player-tab-2 .player-tab__name {
  text-align: right;
}
.player-tabs .player-tab-2 .player-tab__wins {
  text-align: right;
}
.player-tabs .player-tab-2::before {
  content: "";
  height: 15px;
  width: 30px;
  border: 1px solid black;
  border-radius: 30px 30px 0 0;
  border-bottom: none;
  position: absolute;
  top: -17px;
  right: 20px;
  background-color: #e28413;
}

.welcome-modal {
  height: 100vh;
  width: 100vw;
  padding-top: 70px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.288);
}
.welcome-modal__body {
  width: 80vw;
  max-width: 400px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e0efde;
  gap: 20px;
  padding: 20px 20px 40px;
  border-radius: 10px;
  border: 1px solid black;
}
.welcome-modal__body .username-msg {
  transition: opacity 200ms;
}
.welcome-modal__body .modal-field {
  position: relative;
  width: 85%;
}
.welcome-modal__body .modal-field:nth-of-type(2) {
  margin: 0px 0 40px;
}
.welcome-modal__body .modal-field__label {
  position: absolute;
  bottom: -20px;
  font-size: 0.9rem;
}
.welcome-modal__body .modal-field__input {
  background: none;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  font-size: 1.3rem;
}
.welcome-modal__body .modal-btn {
  width: 70%;
  padding: 5px;
  background: none;
  border: 1px solid black;
  border-radius: 5px;
}

@media only screen and (min-width: 768px) {
  .game-info {
    width: 90vw;
    max-width: 700px;
    display: flex;
    gap: 20px;
  }
}
@media only screen and (min-width: 1280px) {
  .game-info {
    width: 50vw;
    position: relative;
  }
}
.game-info .message-box {
  min-width: 200px;
  min-height: 40px;
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #e0efde;
}
.game-info .message-box__text, .game-info .message-box__counter {
  text-align: center;
  font-size: 1.6rem;
}
.game-info .game-code {
  height: 40px;
  min-width: 200px;
  padding: 0 10px;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #e0efde;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-info .game-code__text {
  text-align: center;
  font-size: 1.5rem;
}
.game-info .play-again-btn {
  width: 200px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid black;
  margin-top: 20px;
  background-color: #e0efde;
}
.game-info .emoticons .emoticon-btn {
  height: 40px;
  width: 40px;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #e0efde;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  bottom: 160px;
  border-radius: 5px 0 0 5px;
  border-right: none;
}
@media only screen and (min-width: 768px) {
  .game-info .emoticons .emoticon-btn {
    position: static;
    border-radius: 4px;
    border-right: 1px solid black;
  }
}
.game-info .emoticons__faces {
  width: 100%;
  padding: 10px 0;
  position: absolute;
  bottom: -100%;
  left: 0;
  background-color: rgb(3, 18, 36);
  transition: bottom 300ms ease-in;
  z-index: 10;
}
@media only screen and (min-width: 1280px) {
  .game-info .emoticons__faces {
    height: 135px;
  }
}
.game-info .emoticons__faces .emoticons-close-btn {
  height: 30px;
  width: 30px;
  background-color: #e0efde;
  border-radius: 50%;
  border: 1px solid black;
  position: absolute;
  top: -20px;
  left: calc(100% - 50px);
}
.game-info .emoticons__faces .emoticons-close-btn::before {
  content: "";
  height: 1px;
  width: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-color: black;
  transform: rotate(45deg);
}
.game-info .emoticons__faces .emoticons-close-btn::after {
  content: "";
  height: 1px;
  width: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-color: black;
  transform: rotate(-45deg);
}
.game-info .emoticons__faces-wrap {
  height: 135px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-x: scroll;
  background-color: rgb(3, 18, 36);
}
@media only screen and (min-width: 768px) {
  .game-info .emoticons__faces-wrap {
    height: 150px;
  }
}
@media only screen and (min-width: 1280px) {
  .game-info .emoticons__faces-wrap {
    height: 100%;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
  }
}
.game-info .emoticons__faces .face {
  width: 15%;
}
@media only screen and (min-width: 768px) {
  .game-info .emoticons__faces .face {
    width: 8vw;
  }
}
@media only screen and (min-width: 1280px) {
  .game-info .emoticons__faces .face {
    width: 50px;
  }
}
.game-info .emoticons .faces-shown {
  bottom: 0px;
}
.game-info .game-instructions__btn {
  height: 40px;
  width: 40px;
  margin-top: 20px;
  border-radius: 4px 0 0 4px;
  border: 1px solid black;
  background-color: #e0efde;
  position: fixed;
  right: 0;
  bottom: 100px;
  border-right: none;
  z-index: 0;
}
@media only screen and (min-width: 768px) {
  .game-info .game-instructions__btn {
    position: static;
    border-radius: 4px;
    border-right: 1px solid black;
  }
}
.game-info .game-instructions__text {
  position: absolute;
  bottom: -100%;
  transition: bottom 300ms;
  width: 100%;
  left: 0;
  padding: 20px;
  background-color: rgb(3, 18, 36);
}
@media only screen and (min-width: 1280px) {
  .game-info .game-instructions__text {
    opacity: 0;
  }
}
.game-info .game-instructions__text .instructions {
  color: #e0efde;
  font-size: 1.5rem;
}
.game-info .game-instructions__text .close-btn {
  height: 30px;
  width: 30px;
  background-color: #e0efde;
  border-radius: 50%;
  border: 1px solid black;
  position: absolute;
  top: -20px;
  left: calc(100% - 50px);
}
.game-info .game-instructions__text .close-btn::before {
  content: "";
  height: 1px;
  width: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-color: black;
  transform: rotate(45deg);
}
.game-info .game-instructions__text .close-btn::after {
  content: "";
  height: 1px;
  width: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-color: black;
  transform: rotate(-45deg);
}
.game-info .game-instructions .instructions-shown {
  bottom: 0;
}